# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env

# VS Code / Cursor
.vscode/
.cursor/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/