{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TikTok AI Generator{% endblock %}</title>
    
    <!-- Шрифт -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap" rel="stylesheet">
    
    <!-- Наш CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    {% block extra_css %}{% endblock %}
</head>
<body>

    <!-- Навигация -->
    {% include 'components/_nav.html' %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Футер -->
    {% include 'components/_footer.html' %}

    {% block extra_js %}{% endblock %}
    {% load static %}

<!-- Глобальный скрипт генератора (доступен на всех страницах) -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/article_form.js' %}"></script>
<script src="{% static 'js/article_progress.js' %}"></script>
<script src="{% static 'js/article_delete_status.js' %}"></script>
<script src="{% static 'js/progress.js' %}"></script>
</body>
</html>