{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TikTok AI Generator{% endblock %}</title>
    
    <!-- Шрифт -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap" rel="stylesheet">
    
    <!-- Наш CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_page_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/modal_image_gen.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/image_edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/article/article_edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/audio/dashboard_style.css' %}">
    
    {% block extra_css %}{% endblock %}
</head>
<body>

    <!-- Навигация -->
    {% include 'components/_nav.html' %}
    <section>
        <div class="container">
            <!-- Блок с контентом - страницы -->
            {% block content %}{% endblock %}
        </div>
    </section>
    <!-- Футер -->
    {% include 'components/_footer.html' %}
    {% include 'components/_modal_progress.html' %}
    {% include 'components/_extra_js.html' %}
</body>
</html>